/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

html, body {
    background-color: aquamarine;
    font: 2.4em Futura, 'Century Gothic', AppleGothic, sans-serif;
}

header, footer {
    background-color:blueviolet;
}

h1 {
    text-align: center;
}

image {
    padding: 20px;
    background-color:black;
}

ul, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-style: italic;
    color: yellow;
}
